:root {
  --primary: #e2d3f3;
  --secondary: #013dc4;
  --boxShadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
}

html,
body,
div#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DungGeunMo", Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
